name: Build
on:
  push:
    branches:
      - master
      - dev
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Test & Analyze
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U -e .
          pip install -r requirements-testing.txt
      - name: Test with Coverage
        run: |
          coverage run setup.py test
      - name: Anaylze with Flake8
        run: flake8 --output-file=flake8.txt --exit-zero
      - name: Generate Coverage Reports
        run: |
          coverage report
          coverage xml
      - name: Upload artifacts
        uses: actions/upload-artifacts@v2
        with:
          name: reports
          path: |
            flake8.txt
            coverage.xml
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Download artifacts
        uses: actions/download-artifacts@v2
        with:
          name: reports
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  codecov:
    name: CodeCov
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifacts
        uses: actions/download-artifacts@v2
        with:
          name: reports
      - name: Upload to Codecov
        uses: codecov/codecov-action@v1